# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
myenv/

# Environment variables / secrets
.env

# Django
db.sqlite3
*.log

# Static and media files
staticfiles/
media/

# Collected static files
static_root/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/